<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3><%= @game.player2.name %> attacked <%= @game.player1.name %></h3>
    <h3><%= @game.player1.name %>'s HP reduced by 10. <%= @game.player1.name %>'s HP: <%= @game.player1.hitpoints %>"</h3>
    <a href='/attack-player-2'>Attack <%= @game.player2.name %></a>
  </body>
</html>
