<h1><%= game.player_one.name %> vs <%= game.player_two.name %></h1>
<h2><%= game.active_player.name %>'s Turn</h2>
<form action="/attack" method="post">
  <p class="button">
    <button type="submit" id="attack">ATTACK <%= game.passive_player.name %>!</button>
  </p>
</form>
<p><%= game.active_player.name %> Health: <%= game.active_player.health %></p>
<p><%= game.passive_player.name %> Health: <%= game.passive_player.health %></p>